[hosts]
example.com

[hosts:vars]
ansible_python_interpreter=/usr/bin/python3

drone_password: 'secure_passwd'
debug_passwd: 'secure_passwd'

docker_compose_version: "1.27.4"
docker_packages:
  - apt-transport-https
  - ca-certificates
  - curl
  - gnupg-agent
  - software-properties-common

gather_facts: no
remote_user: root